iframe {
    position: absolute;
}

img {
    position: absolute;
    height: auto;
}

.diplomas {
    cursor: pointer;
}

.slideshow {
    position: absolute;
    vertical-align: middle;
}

.legend {
    background-color: rgb(175,128,85); 
    color: white;
    text-align: center;
    width: 200px;
    padding: 30px;
    border: 15px solid rgb(151,108,66);
    margin: 20px;
}
