iframe {
    position: absolute;
}

img {
    position: absolute;
    height: auto;
}

.diplomas {
    cursor: pointer;
}

.slideshow {
    position: absolute;
    vertical-align: middle;
}

.legend {
    background-color: rgb(131, 108, 34); 
    color: rgb(34, 57, 131);
    text-align: center;
}
